.content-coracao {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100px;
  margin: 50px auto;
  -webkit-animation: pulsa 2s linear 0s infinite;
}
@keyframes pulsa {
  0% {
    transform: scale(0.9) rotate(0deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  70% {
    transform: scale(1.1) rotate(0deg);
  }
  80% {
    transform: scale(1.2) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
.square {
  transform: rotate(45deg);
  width: 50px;
  height: 50px;
  background: #e71940;
  position: absolute;
  top: 30px;
  left: 25px;
}
.circle:after,
.circle:before {
  content: "";
  position: absolute;
  width: 54px;
  height: 55px;
  border-radius: 50%;
  background: #e71940;
}
.circle:after {
  left: 5px;
  top: 6px;
}
.circle:before {
  right: 5px;
  top: 6px;
}
body {
      margin: 0;
      height: 100vh; /* ocupa 100% da altura da tela */
      display: flex;
      justify-content: center; /* centraliza horizontalmente */
      align-items: center;     /* centraliza verticalmente */
    }
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}